# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Game/Source/External/SDL/libx86/SDL2.lib
!Game/Source/External/SDL/libx86/SDL2main.lib

# Executables
*.exe
*.out
*.app

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.pdb
*.aps
# *.user
# *.vcproj
# *.vcxproj*
# *.sln
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs

[Bb]uild
[Bb]in
[Dd]ebug/
*.sbr
*.sdf
obj/
[R]elease/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.db
*.opendb
packages/

!/Assimp
!/Assimp/*

!/DevIL
!/DevIL/*

!/Optick
!/Optick/*


!Assimp/libx86/assimp.lib
!Assimp/libx86/zlibstatic.lib


!DevIL/libx86

!DevIL/libx86/DevIL.lib
!DevIL/libx86/ILU.lib
!DevIL/libx86/ILUT.lib


!Optick/lib/debugLib/OptickCore.dll
!Optick/lib/debugLib/OptickCore.lib

!Optick/lib/releaseLib/OptickCore.dll
!Optick/lib/releaseLib/OptickCore.lib